


        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;         }
        ul li a{
            text-decoration: none;
            color: blue;
        }
         li{
            float: left;
        }
    a{display: block;
      padding: 8px;
      background-color: aqua;
    }
li a:hover{background-color: teal;
            color: white;}